/* Tabor.css 
	The updated css elements to customize to more accurately represent the church
	atmosphere
*/

#header {
	background: url("images/mtchurch.jpg") no-repeat center center;
	background-size: 100%;
}

/*Fixes the margin issue on the history page*/
#contents .highlight .clearfix h3 {
    margin-top: 0px;
}

.center {
    text-align: center;
}

#contents .highlight {
    padding-top: 20px;
    /*padding-bottom: 20px;*/
}

/* The width of container DIV */
#container{
    width: 100%;
    margin-top: 20px;
}
 
/* Style for each floated item */
.StaffMember{
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    height: 100%;
    /* Text align and background color */
    text-align: center;
    background-color: #e2e2e2;
}
 
/* Clear the "float" style */
#clearer{
    clear: both;
}

#floatingImage{
    float: right;
    margin-left: 10px;
}

#imageDescription{
    margin-top: 20px;
    margin-bottom: 20px;
}

.socialMedia {
    display: inline-block;
    padding-right: 2px;
    padding-left: 2px;
}

.socialUl {
    margin-top: 10px;
    padding-left: 0px;
}
