/* Tabor.css 
	The updated css elements to customize to more accurately represent the church
	atmosphere
*/

#header {
	background: url("images/mtchurch.jpg") no-repeat center center;
	background-size: 100%;
}

/*Fixes the margin issue on the history page*/
#contents .highlight .clearfix h3 {
    margin-top: 0px;
}

.center {
    text-align: center;
}

#contents .highlight {
    padding-top: 20px;
    /*padding-bottom: 20px;*/
}

/* The width of container DIV */
#container{
    width: 100%;
    margin-top: 20px;
}
 
/* Style for each floated item */
.StaffMember{
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    height: 100%;
    /* Text align and background color */
    text-align: center;
    background-color: #e2e2e2;
}
 
/* Clear the "float" style */
#clearer{
    clear: both;
}

#floatingImage{
    float: right;
    margin-left: 10px;
}

#imageDescription{
    margin-top: 20px;
    margin-bottom: 20px;
}

.socialMedia {
    display: inline-block;
    padding-right: 2px;
    padding-left: 2px;
}

.socialUl {
    margin-top: 10px;
    padding-left: 0px;
}
.row {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}

.member-box div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
} 
.member-box div img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 400px) {
  .member-box div { margin: 0; }
  .member-box { padding: 0; }

}
.story p {
  font-family: 'Marck Script', cursive;
  font-size: 1.5em;
}

